<div class="main_friendly_page" style="background-image: url(<%= asset_url 'background.jpg' %>);">

    <div class = "main_page_container">

        <div class = "left-main">
            <h2>PFM - <%= t("main_page.name_pfm") %></h2>
            <p><%= t("main_page.creator") %></p>
        </div>
        <div class = "right-main">
            <div class="animation-image">
                <img src="<%= asset_url 'money.png' %>" alt="">
            </div> 
            <div class = "buttons-login-reg-main">
                    <%= link_to t("buttons.register"), new_user_path, class: 'button_mainpage' %>
                    <%= link_to t("buttons.login"), new_session_path, class: 'button_mainpage' %>
            </div>
        </div>
        
    </div>
</div>