
<div class="container_login_reg">
     <div class="logreg">

        <h2> <%= t("forms.register") %></h2>  

        <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do | message | %>
                <p style="color:red"> <%= message %> </p>
            <% end  %>  
        <% end  %> 
        
        <div class = "mt">
            <%= form_with model: @user do | form | %>

                <p class="placehold"><%= form.label :name, t("user.name") %></p>
                <div class="input-block"> 
                    <div class="input_icon">
                        <i class="fa fa-street-view" aria-hidden="true"></i>
                    </div> 
                    <%= form.text_field :name, class: 'form-text-field',  placeholder:t("user.name")%>
                </div>

                <p class="placehold"><%= form.label :surname, t("user.surname") %></p>
                <div class="input-block"> 
                    <div class="input_icon">
                        <i class="fa fa-street-view" aria-hidden="true"></i>
                    </div> 
                    <%= form.text_field :surname, class: 'form-text-field',  placeholder:t("user.surname")%>
                </div>
                
                <p class="placehold"><%= form.label :email, t("user.email")%></p>
                <div class="input-block"> 
                    <div class="input_icon">
                        <i class="fa fa-street-view" aria-hidden="true"></i>
                    </div> 
                    <%= form.text_field :email, class:'form-text-field',  placeholder:t("user.email")%>
                </div>

                <p class="placehold"><%= form.label :password, t("user.password") %></p>
                <div class="input-block"> 
                    <div class="input_icon">
                        <i class="fa fa-user-secret" aria-hidden="true"></i>

                    </div> 
                    <%= form.password_field :password, class:'form-text-field', placeholder:t("user.password")%>
                </div>

                <p class="placehold"><%= form.label :password_confirmation, t("user.repassword") %></p>
                <div class="input-block"> 
                    <div class="input_icon">
                        <i class="fa fa-user-secret" aria-hidden="true"></i>

                    </div> 
                    <%= form.password_field :password_confirmation, class:'form-text-field', placeholder:t("user.repassword")%>
                </div>
                <p class = "mt-lg"> <%= form.submit t("buttons.register"), class: 'button-loginreg'%></p>
            <%end%>
        </div>

    </div>
</div>