<div class="operation-index-container">

  <h1><%= t("slogans.op_in_cat") %> <%= category.name %></h1>
  <h5 style="margin-bottom:30px"><%= t("slogans.description") %> <%= category.description %></h5>



    <div class = "operation_index_container"> 
      <div class = "op_index">
        <div class = "operation_block_index">
            <div><%= t("tables.category") %></div>
            
            <div><%= t("tables.date") %></div>
            <div><%= t("tables.description") %></div>
            <div><%= t("tables.amount") %></div>
            
            <div><%= t("tables.action") %> </div>
          </div>
      
        <% @operations.each do |operation| %>

          <div class = "operation_block_index">
            <div>
              <%= operation.description %>
            </div>
            
            <div>
              <%= operation.category.name %>
            </div>
            <div>
              <%= operation.odate.to_date.strftime("%Y.%m.%d") %>
            </div>
            <div>
                <% if operation.income == true %>
                    <p style="color:rgb(93, 166, 108);">
                <% else %>
                    <p style="color:rgb(170, 79, 79);">
                <% end %>
                <%= operation.amount %>
              </p>
            </div>
            
            <div>
              <div class="button-table">
                  <a href="<%= edit_operation_path(operation) %>" class="btn btn-primary">
                    <i class="fa fa-cog" style="font-size:14px"></i>
                  </a>

                  <%= button_to "X",operation, method: :delete, class:"btn btn-danger", style:"font-weight: bold;" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <%== pagy_nav(@pagy) %>


</div>