<%= form_with(model: category) do |form| %>

    <div class="card-body">
      <blockquote class="blockquote mb-0">
          <div>
            <%= form.label t("categories_view.create_name"), style: "display: block" %>
            <%= form.text_field :name, class:"form-control" %>
          </div>

          <div>
            <%= form.label t("categories_view.create_description"), style: "display: block" %>
            <%= form.text_field :description, class:"form-control"  %>
          </div>
        <footer class="blockquote-footer">
          <% if category.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

              <ul>
                <% category.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </footer>

         <%= form.submit t("buttons.save"), class:"btn btn-success"%>
      </blockquote>
    </div>



<% end %>
