
<div class="CategoriesPageContainer">
  <h1>Категории</h1>

  <div class = "search-block">
    <div class="container">
        <h3>поиск</h3>
        <%= form_with(method: :get) do |form| %>
          <%= form.text_field :serch_name, class:"search-cat-input", value:"#{@serach_name}" %>
      
          <button type="submit" class="search-btn"> <i class="fa fa-search" aria-hidden="true"></i></button>
        <% end %>

        <%= link_to "все категории", {controller: :categories, action: :index}, class:"all-cat" %>
    </div>
  </div>
  <% if @categories.any? %>
    <div class="categorie-blocks">
      <% @categories.each do |category| %>
        <div class = "block-categorie">
          <h3><%= category.name %></h3>
          <p>
            <a href="<%= category_path(category) %>">
              <%= image_tag "enter.png", class:"category-img" %>
            </a>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>

</div>

<%= link_to "+", new_category_path, class:"fixed-btn btn-add" %>


