
<div class="CategoriesPageContainer">
  <h1>Categories</h1>
  <div class="categorie-blocks">
    <% @categories.each do |category| %>
      <div class = "block-categorie">
        <h3><%= category.name %></h3>
        <p>
          <a href="<%= category_path(category) %>">
            <%= image_tag "enter.png", class:"category-img" %>
          </a>
        </p>
      </div>
    <% end %>
  </div>


</div>

<%= link_to "+", new_category_path, class:"fixed-btn btn-add" %>

<!--
  <p style="color: green"><%= notice %></p>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      <% @categories.each do |category| %>
        <tr>
          <th scope="row"><%= category.id %></th>
          <th><%= category.name %></th>
          <th><%= category.description %></th>
          <th><p><%= link_to "Show this category", category %></p></th>

        </tr>
      <% end %>

    </tbody>
  </table>
-->

