
<!--
<%= link_to "Report Category", "report_by_category", method: :post %>
<%= link_to "Report Date", "report_by_dates", method: :post %>
-->



<div class = "report-container">
    <div class="report-form">
        <h1><%= t("graph_view.title") %></h1>

        <%= form_with(method: :get) do |form| %>

            <div class="input-group mb-3" style="margin-top:30px;">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="Category_selector", style="width:100px"><%= t("graph_view.date_first") %></label>
                </div>
                <%= form.text_field :first_date,  type:"date", class:"form-control" %>
            </div>

            <div class="input-group mb-3" style="margin-top:30px;">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="Category_selector", style="width:100px"><%= t("graph_view.date_last") %></label>
                </div>
                <%= form.text_field :last_date,  type:"date", class:"form-control" %>
            </div>

            <div class="input-group mb-3" style="margin-top:30px;">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="Category_selector"><%= t("graph_view.category") %></label>
                </div>
                <%= form.select :category_id, options_for_select(User.find_by(id:session[:user_id]).categories.collect{ |u| [u.name, u.id] }), {}, class:"custom-select" %>
            </div>


            <label class="container-checkbox check-form"><p><%= t("graph_view.income") %></p>
                <%= form.check_box :income,  {tupe: "checkbox"}, 1, 0 %>
                <span class="checkmark"></span>
            </label>
            <div class="checkbox-result">
                <span><%= t("graph_view.by_category") %></span>
                <div class="checkbox-wrapper-3">
                    <%= form.check_box :type_graph,  {id:"cbx-3", type: "checkbox"}, 1, 0 %>
                    <label for="cbx-3" class="toggle"><span></span></label>
                </div>
                <span><%= t("graph_view.by_date") %></span>
            </div>
            <div class = "buttons-form">
                <%= form.submit t("buttons.generate"), name:"generate", class:"btn btn-success"%>
                <%= form.submit t("buttons.clear"), name:"clear", class:"btn btn-info", style:"margin-left:5px;"%>
            </div>

        <% end %>
    </div>


</div>
