<div class="report-container-by">

    <h1 class = "Reports-title"> <%= @first_date.to_date.strftime('%a, %e %b %Y') %> - <%= @last_date.to_date.strftime('%a, %e %b %Y') %> </h1>

    <div class = "report-categories">

        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col"><%= t("table.category") %></th>
            <th scope="col"><%= t("table.amount") %></th>
            </tr>
        </thead>
        <tbody>
            <% @categories.each do |cat| %>
                <tr>
                    <% cat.each do |c| %>
                        <td><%= c %></td>
                    <% end %>
                </tr>
            <% end %>
            <tr>
                <td class="table-success"><%= t("table.total") %> <%= @sum.to_i %> ГРН </td>
                <td class="table-success"></td>
            </tr>
        </tbody>
        </table>



        <div>
            <%= pie_chart  @categories, donut: true, width: "500px", legend: "bottom"  %>
        </div>


    </div>

</div>
